
<body class="home5-body">
    
    
    <!--@ANoop todo create one header which will encapsulate both in one and avoid component inside header tag -->
    <header class="h5-header">
        <app-header1></app-header1>
        <app-header2></app-header2>
      </header>

    <p>training works!</p>
    <!-- h5-popular-course-start -->
    <div class="h5-popular-course-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div class="h5-pupular-course-head">
                            <div class="h5-section-title">
                                <h2>Popular Course</h2>
                                <p>There are many variations of passages of Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="h5-course-box">
                            <div class="h5-cb-img">
                                <a href="#"><img src="img/home5/course1.jpg" alt=""></a>
                            </div>
                            <div class="h5-cb-content">
                                <div class="h5-cbc-meta">
                                    <div class="h5cbc-meta-vc">
                                        <a href="#"><i class="fa fa-eye"></i>59</a>
                                        <a href="#"><i class="fa fa-comments"></i>19</a>
                                    </div>
                                    <div class="h5cbc-meta-rating">
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                    </div>
                                </div>
                                <a class="h5-cbc-title" href="#">Advanced Java Learner</a>
                                <div class="h5-cbc-by-date">
                                    <p>by: <a href="#">Anoop Sir</a></p>
                                    <p>Date: <a href="#">20.5.15</a></p>
                                </div>
                                <p class="h5-cbc-text">There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="h5-course-box">
                            <div class="h5-cb-img">
                                <a href="#"><img src="img/home5/course2.jpg" alt=""></a>
                            </div>
                            <div class="h5-cb-content">
                                <div class="h5-cbc-meta">
                                    <div class="h5cbc-meta-vc">
                                        <a href="#"><i class="fa fa-eye"></i>59</a>
                                        <a href="#"><i class="fa fa-comments"></i>19</a>
                                    </div>
                                    <div class="h5cbc-meta-rating">
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                    </div>
                                </div>
                                <a class="h5-cbc-title" href="#">Design Class's Start</a>
                                <div class="h5-cbc-by-date">
                                    <p>by: <a href="#">Samit shas</a></p>
                                    <p>Date: <a href="#">20.5.15</a></p>
                                </div>
                                <p class="h5-cbc-text">There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="h5-course-box">
                            <div class="h5-cb-img">
                                <a href="#"><img src="img/home5/course3.jpg" alt=""></a>
                            </div>
                            <div class="h5-cb-content">
                                <div class="h5-cbc-meta">
                                    <div class="h5cbc-meta-vc">
                                        <a href="#"><i class="fa fa-eye"></i>59</a>
                                        <a href="#"><i class="fa fa-comments"></i>19</a>
                                    </div>
                                    <div class="h5cbc-meta-rating">
                                        <div class="rating clearfix">
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-on"></div>
                                            <div class="star star-half"></div>
                                        </div>
                                    </div>
                                </div>
                                <a class="h5-cbc-title" href="#">PHP class's</a>
                                <div class="h5-cbc-by-date">
                                    <p>by: <a href="#">Monaly khan</a></p>
                                    <p>Date: <a href="#">20.5.15</a></p>
                                </div>
                                <p class="h5-cbc-text">There are many variations of sages of Lorem Ipsum available, but the mrity have suffered alteration in some orm, by injected humo ur,There are many but the mri have suffered alteration in some </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12">
                        <div class="browse-h5-poplar">
                            <a class="hvr-bs" href="#">Browse All Courses</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- h5-popular-course-end -->
        <!-- h5-counter-start -->
        <div class="h5-counter-area bg-with-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="h5-counter-box">
                            <div class="clearfix">
                                <div class="h5-cb-icon">
                                    <i class="icofont icofont-business-man"></i>
                                </div>
                                <div class="h5-counter-content">
                                    <h3>Teachers</h3>
                                    <h2><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">4</span>+</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="h5-counter-box">
                            <div class="clearfix">
                                <div class="h5-cb-icon">
                                    <i class="icofont icofont-graduate-alt"></i>
                                </div>
                                <div class="h5-counter-content">
                                    <h3>Students</h3>
                                    <h2><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">54</span>+</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="h5-counter-box">
                            <div class="clearfix">
                                <div class="h5-cb-icon">
                                    <i class="icofont icofont-light-bulb"></i>
                                </div>
                                <div class="h5-counter-content">
                                    <h3>Research</h3>
                                    <h2><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">14</span>+</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="h5-counter-box">
                            <div class="clearfix">
                                <div class="h5-cb-icon">
                                    <i class="icofont icofont-award"></i>
                                </div>
                                <div class="h5-counter-content">
                                    <h3>Awards</h3>
                                    <h2><span class="counter counter-up" data-counterup-time="1500" data-counterup-delay="30">4</span>+</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- h5-counter-end -->
        <!-- h5-lecturers-start -->
        <div class="h5-lecturers-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="h5-lecturers-head">
                                <div class="h5-section-title">
                                    <h2>Meet Our Trainers</h2>
                                    <p>Aliquet id nunc cubilia sit enim fusce lacus enim nec, sed integer ac malesuada lectus etiam metus fermentum donec, dictum nunc amet dictumst </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="h5-lecturers-box">
                                <div class="h5-lecturers-img">
                                    <img src="img/home5/lecturers1.jpg" alt="">
                                    <div class="h5-li-over-content">
                                        <a href="#">Anoop Bhutola</a>
                                        <span>J2EE Trainer</span>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="h5-lecturers-content">
                                    <a href="#">Anoop Butola</a>
                                    <span>J2EE Trainer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="h5-lecturers-box">
                                <div class="h5-lecturers-img">
                                    <img src="img/home5/lecturers2.jpg" alt="">
                                    <div class="h5-li-over-content">
                                        <a href="#">Rushtam</a>
                                        <span>Designing Trainer</span>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="h5-lecturers-content">
                                    <a href="#">Rushtam</a>
                                    <span>Designing Trainer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="h5-lecturers-box">
                                <div class="h5-lecturers-img">
                                    <img src="img/home5/lecturers3.jpg" alt="">
                                    <div class="h5-li-over-content">
                                        <a href="#">Sachin</a>
                                        <span>PHP Trainer</span>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="h5-lecturers-content">
                                    <a href="#">Sachin</a>
                                    <span>PHP Trainer</span>
                                </div>
                            </div>
                        </div>
        
        
        
                    </div>
                </div>
            </div>
        
            <div class="h5-blog-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="h5-blog-head">
                                <div class="h5-section-title">
                                    <h2>Excellent Discount For New Batches  </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing aelit, sed do eiusmod tempor incididunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="h5-blog-carousel owl-carousel">
                                <div class="h5-blog-box">
                                    <div class="h5bb-img">
                                        <a href="#"><img src="img/home5/blog1.jpg" alt=""></a>
                                    </div>
                                    <div class="h5bb-content">
                                        <div class="h5bb-c-meta">
                                            <p><i class="fa fa-calendar"></i>Starts From January 1, 2017</p>
                                            <p><i class="fa fa-calendar"></i>End till January 30, 2017</p>
        
        
                                        </div>
                                        <a class="h5bb-title" href="#">New Batches Starts Soon Take Discount.</a>
                                        <p class="h5bb-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                        <a class="h5bb-more hvr-bs" href="#">Read more...</a>
                                    </div>
                                </div>
                                <div class="h5-blog-box">
                                    <div class="h5bb-img">
                                        <a href="#"><img src="img/home5/blog2.jpg" alt=""></a>
                                    </div>
                                    <div class="h5bb-content">
                                        <div class="h5bb-c-meta">
                                        J2EE  <p><i class="fa fa-rupee "></i> <del>17,000</del> <font style="color:red">15,000</font></p>
                                        PHP  <p><i class="fa fa-rupee "></i> <del>15,000</del> <font style="color:red">12,000</font></p>                                    
        
                                        </div>
                                        <a class="h5bb-title" href="#">Special Offers For Excellent Students</a>
                                        <p class="h5bb-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                        <a class="h5bb-more hvr-bs" href="#">Read more...</a>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- h5-blog-end -->
</div>
</body>
