<!-- h5-hero-area-start -->
<div class="h5-hero-area bg-with-black">
        <div class="container">
            <div class="row">
                  
                    <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="h5-hc-carousel owl-carousel">
                                    <div class="h5-hero-content">
                                            <h2>An Innovative Graduate university of Theology</h2>
                                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            <!-- <a href="#">View Campus</a> -->
                                        </div>
                                        <div class="h5-hero-content">
                                            <h2>An Innovative Graduate university of Theology</h2>
                                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            <!-- <a href="#">View Campus</a> -->
                                        </div>
                                        <div class="h5-hero-content">
                                            <h2>An Innovative Graduate university of Theology</h2>
                                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            <!-- <a href="#">View Campus</a> -->
                                        </div>
                                       </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="h5-hero-register">
                                <h2>Register Now</h2>
                                <form action="#">
                                    <input type="text" placeholder="Your full name">
                                    <input type="email" placeholder="Your email">
                                    <input type="text" placeholder="Mobile phone">
                                    <input type="text" placeholder="Course">
                                    <input type="submit" value="TAKE THIS COURSE">
                                    <input type="submit" value="WANT DISCOUNT CLICK HERE">
                                </form>
                            </div>
                        </div>
                
            </div>
        </div>
    </div>
    

