<!-- h5-footer-start -->
<footer class="h5-footer">
        <div class="h5-footer-top-area bg-with-black">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer-top-head">
                            <img src="assets/img/home5/logo2.png" alt="" width="200" height="200">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="h5-single-footer">
                            <h4 class="widget-title">Courses</h4>
                            <ul>
                                <li><a href="#">Basic Java</a></li>
                                <li><a href="#">Advance Java/J2EE</a></li>
                                <li><a href="#">JDBC</a></li>
                                <li><a href="#">Spring</a></li>
                                <li><a href="#">Struts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="h5-single-footer">
                            <h4 class="widget-title">Quick Links</h4>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Contact Us</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="h5-single-footer">
                            <h4 class="widget-title">Contact Us</h4>
                            <div class="h5-footer-contact">
                                <div class="cf-msg"></div>
                                <form action="" method="post" id="cf">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="h5fc-input-box">
                                                <input type="text" placeholder="Name*" id="fname" name="fname">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="h5fc-input-box">
                                                <input type="email" placeholder="Email*" id="email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="h5fc-input-box">
                                                <textarea placeholder="Massage*" id="msg" name="msg"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="h5fc-input-box">
                                                <input type="submit" value="Send" id="submit" name="submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h5-footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="h5fba-left">
                            <p><i class="fa fa-phone"></i> Call me at (+91 7837218200)</p>
                            <p><i class="fa fa-envelope"></i> codewow.in</p>
                            <p><i class="fa fa-map-marker"></i>Phase 10 sec(64) Mohali</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="h5fba-right">
                            <p>Copyright © <a href="#">2017  codeWOW</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
