<div class="col-md-4 col-sm-6 col-xs-12">
        <div class="h5-hero-register">
            <h2>Register Now</h2>
            <form action="#">
                <input type="text" placeholder="Your full name">
                <input type="email" placeholder="Your email">
                <input type="text" placeholder="Mobile phone">
                <input type="text" placeholder="Course">
                <input type="submit" value="TAKE THIS COURSE">
                <input type="submit" value="WANT DISCOUNT CLICK HERE">
            </form>
        </div>
    </div>