<div class="h5-header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-5 col-xs-12">
                <div class="h5-hta-left">
                    <p>Have any question? +91 7837218200</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-7 col-xs-12">
                <div class="h5-hta-social">
                    <h4 class="hidden-xs">Follow Us</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="h5-menu-area">
    <div class="container">
    
    
    <div class="row">
    <div class="col-md-3 col-xs-12">
    <div class="h5-logo">
    <a href="index.html"><img src="assets/img/home5/logo.png" alt="" width="150" height="100"></a>
    </div>
    </div>
    <div class="col-md-9 hidden-sm hidden-xs">
    <div class="h5-menu menu">
    <nav>
            <ul>
                <li>
                <a class="nav-link" routerLink="../home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>            
            <a class="nav-link" routerLink="../about" routerLinkActive="active">About Us</a>     
            </li>
            <li><a class="nav-link" routerLink="../services" routerLinkActive="active">Services</a>
            </li>
            <li><a class="nav-link" routerLink="../training" routerLinkActive="active">Training</a>
            </li>
            <li><a class="nav-link" routerLink="../bootcamp" routerLinkActive="active">Bootcamp</a>
            </li>
            <li>
             <a class="nav-link" routerLink="../blog" routerLinkActive="active">Blog</a>
            </li>
            <li>
             <a class="nav-link" routerLink="../contact" routerLinkActive="active">Contact</a>
            </li>       
        </ul>
    </nav>
    
    </div>
    </div>
    </div>
    
    
    </div>
   
    </div>
    
    