<div class="h5-menu-area">
<div class="container">


<div class="row">
<div class="col-md-3 col-xs-12">
<div class="h5-logo">
<a href="index.html"><img src="assets/img/home5/logo.png" alt="" width="150" height="100"></a>
</div>
</div>
<div class="col-md-9 hidden-sm hidden-xs">
<div class="h5-menu menu">
<nav>
        <ul>
            <li>
            <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>            
        <a class="nav-link" routerLink="../about" routerLinkActive="active">About Us</a>     
        </li>
        <li><a class="nav-link" routerLink="../services" routerLinkActive="active">Services</a>
        </li>
        <li><a class="nav-link" routerLink="../training" routerLinkActive="active">Training</a>
        </li>
        <li><a class="nav-link" routerLink="../bootcamp" routerLinkActive="active">Bootcamp</a>
        </li>
        <li>
         <a class="nav-link" routerLink="../blog" routerLinkActive="active">Blog</a>
        </li>
        <li>
         <a class="nav-link" routerLink="../contact" routerLinkActive="active">Contact</a>
        </li>       
    </ul>
</nav>

</div>
</div>
</div>


</div>
<router-outlet></router-outlet>
</div>

